@font-face {
    font-family: SciFly;
    src: url(../font/SciFly-Sans.woff);
}

body {
    margin: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 180px;
}

.random {
    font-family: SciFly;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 3em;
}

.backBtn {
    margin-bottom: 25px;
    display: block;
    color: black;
}

.impressum {
    text-align: justify;
}

@media (max-width: 1000px) {

    h1 {
        font-size: 2em;
    }
}